<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <aside id="sidebar" class="nano">
        <div class="nano-content">
            <div class="logo-container">Group Chat</div>
            <button type="button" class="create-group-button" data-toggle="modal" data-target="#create-group-modal">Create Group</button>
            <menu class="menu-segment">
                <ul>
                    <li class="active"><a href="main.html"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                    <li><a href="/groups">Groups</a></li>
                </ul>
            </menu>

            <div class="separator"></div>
            <div class="menu-segment">
                <ul class="buttons">
                    <li><a href="#"><span class="icon glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            </div>
            <div class="bottom-padding"></div>
        </div>
    </aside>

    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1>Welcome to Group Chat Application</h1>
            <p>Stay connected with your friends and manage your group conversations effortlessly.</p>
            <div class="search-box">
                <input placeholder="Search for groups..."><span class="icon glyphicon glyphicon-search"></span>
            </div>
        </header>

        <div class="container">
            <h2>Get Started</h2>
            <p>Create or join groups to start chatting with your friends and colleagues.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-group-modal">
                Create Group
            </button>
        </div>
    </main>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Image</th>
                <th>Name</th>
                <th>Limit</th>
                <th class="members-column">Members</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="group table-body">

        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="create-group-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="createGroupForm">
                    <div class="modal-body">
                        <input type="text" id="name" name="name" placeholder="Enter Group Name" required class="w-100 mb-2">
                        <input type="file" id="image" name="image" class="w-100">
                        <input type="number" min="1" name="limit" placeholder="Enter User Limit" id="limit" required class="w-100 mb-2">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/groupMgmt.js"></script>

</body>
</html>
