<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Application</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">SIGN IN</h1>
                    <p class="text text-normal">New User? <span><a href="#" class="text text-links">Create an Account</a> </span></p>
                </div>
                <form id="login_form" class="form">
                   
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Email</label>
                        <input type="email" name="emailInput" id="emailInput" placeholder="Enter Your Email" required>
                    </div>
                   
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="passwordInput" placeholder="Enter Your Password" required>
                    </div>
                    
                    <div class="input-control">
                        <a href="#" class="text text-links">Forgot Password</a>
                        <button type="submit" name="submit" class="button-submit">LOGIN</button>
                    </div>
                </form>

                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">OR</span>
                    <span class="striped-line"></span>
                </div>

                <div class="method">
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-google"></i>
                            <span>Sign In with Google</span>
                        </a>
                    </div>

                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-facebook"></i>
                            <span>Sign In with Facebook</span>
                        </a>
                    </div>

                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-apple"></i>
                            <span>Sign In with Apple</span>
                        </a>
                    </div>

                </div>

            </section>
        </div>
    </main>
    
    <script src="/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</body>
</html>