<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Application</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <!-- SIDEBAR -->
  <div id="sidebar" class="sidebar">
    <ul>
      <li><a href="/groupManagement.html">Home</a></li>
      <br>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>

  <!-- HAMBURGER MENU -->
  <div id="menu-button" class="menu-button">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <!-- CHAT CONTAINER -->
    <div class="chat-container">
        <h2>Group Chat</h2>
        <div class="chat-messages" id="chat-messages">
          <div class="chatBox" id="chatBox">
          </div>
        </div>
        <div class="chat-input">
            <input type="text" id="message" class="messageInput" placeholder="Enter Message Here..." required>
            <button id="send">Send</button>
        </div>    
    </div>

    <!-- WAVE PATTERN -->
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
      </div>
    
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

</body>
</html>