<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Application</title>
</head>
<body>
    <h1>Welcome To Group Chat Application</h1>
    <h3>Create Your Account Now!</h3>

    <div class="container">
        <form id="signup_form">
            <label for="name">Name</label>
            <input type="text" id="nameInput" placeholder="Enter Your Name">
            <label for="email">Email</label>
            <input type="email" id="emailInput" placeholder="Enter Your Email">
            <label for="phonenumber">Phone Number</label>
            <input type="number" id="phoneInput" placeholder="Enter Your Phone Number">
            <label for="password">Password</label>
            <input type="password" id="passwordInput" placeholder="Enter Your Password">

            <button type="submit" class="signup_submit">
                <span class="button_text">Create Account</span>
            </button>
        </form>
    
        <p>Already have an account?</p>
    </div>
    
    <script src="/js/signup.js"></script>
</body>
</html>